# =====================================
# TELEGRAM
# =====================================
TELEGRAM_TOKEN=8813557870:AAFcQvFtqOCTo8fJB15S5ek1NQmdf27pviA
ADMIN_IDS=1855388504

# =====================================
# MONGO
# =====================================
MONGO_URI=mongodb+srv://tradeview113d8_db_user:H3SVHmPN5dMBVo5v@cluster0.d62w317.mongodb.net/?appName=Cluster0
DB_NAME=business_os

# =====================================
# GITHUB
# =====================================
GITHUB_TOKEN=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
GITHUB_OWNER=Minh-hien-a
GITHUB_REPO=AibusinessOSA

# =====================================
# OPTIONS
# =====================================
MOCK_MODE=false
